.apiInfo {
  position: absolute;
  z-index: 9999;
  bottom: 10px;
  left: 10px;
  background-color: transparent;
  display: flex;
  font-size: .75rem;
  color: #444;
}

@media (max-width: 800px) {
  .apiInfo {
    display: none;
    //position: absolute;
    //bottom: 15px;
    //left: 0;
    //background-color: transparent;
    //display: flex;
    //font-size: .75rem;
    //color: #444;
    //max-width: calc(100% - 30px);
  }
}
